<div class="hand-form">
  <%= form_with model: @hand do |f| %>
    <%= f.label :cards, "Select 5 cards to make a hand:" %>
    <br>
    <br>
    <%= f.collection_check_boxes :card_ids, @cards, :id, :name %>
    <br>
    <br>
    <%= f.submit "Analyze" %>
  <% end %>
</div>
