<h2>Your hand:</h2>
<span>
  <%@hand.cards.each do |card|%>
    <%= card.name %>
  <%end%>
</span>
<br>
<h2>Your hand's rank:</h2>
<span>
  <%=@score%>
</span>
<br>
<a href="/hands/new"><button type="button" name="button">New Hand</button></a>
