<div class="home-container">
  <h2>Welcome to Poker Hand Checker</h2>
  <span>Click the button below to start</span>
  <br>
  <a href="/hands/new"><button type="button" name="start">Enter a Hand</button></a>
</div>
